extends ../layout.jade
block contenido
	h2( class='Pacífico Big Blue' )
	p Input Json
	each center in centersArray
		div( class="col-md-12 col-sm-12 col-xs-12 inline-block" )
			div( class="col-md-4 col-sm-6 col-xs-12 inline-block" )
				h3( class="pacifico")= center
	br
	br
	p Result
	div( class="col-md-12 col-sm-12 col-xs-12 inline-block" )
		div( class="col-md-4 col-sm-6 col-xs-12 inline-block" )
			h3( class="pacifico")= totalTime