doctype html
html(lang="es")
  head
    title ¡Best Way to Deliver!
    meta(charset="utf-8")
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet")
    link(href="/css/main.css" rel="stylesheet")
    link(href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css')
    link(href='css/animate.css' rel='stylesheet' type='text/css')
  body
    section(class="full-height text-center" id="main-content")
      div(class="data")
        div(class="col-md-3 center-block no-float top-space")
          img(src="imgs/cat.png" class="animated fadeIn")
          h1(class="pacifico big green animated fadeIn delay-1") Deliver Cat
          div(class="animated fadeInDown delay-2")
            nav
              a(href="/menu/1" class="right-space") Check Route #1
              a(href="/menu/2" class="right-space") Check Route #2
              a(href="/menu/3" class="right-space") Check Route #3
    script(src="https://code.jquery.com/jquery-2.1.1.min.js")