doctype html
html(lang="en")
  head
    title ¡Best Way to Deliver!
    meta(charset="utf-8")
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet")
    link(href="/css/main.css" rel="stylesheet")
    link(href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css')
    link(href='css/animate.css' rel='stylesheet' type='text/css')
  body
    nav(class="large-padding fondo-gris")
      ul(class="no-list mediano")
        li(class="pacifico col-md-3 inline-block")
            a(href="/" class="green") Deliver Cat

        li(class="col-md-3 inline-block")
          a(href="/menu/1") Check Route #1

        li(class="col-md-3 inline-block")
          a(href="/menu/2") Check Route #2

        li(class="col-md-3 inline-block")
          a(href="/menu/3") Check Route #3

    block contenido

    script(src="https://code.jquery.com/jquery-2.1.1.min.js")